/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  /* Contenedor del formulario */
  form {
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  form h1 {
    color: #555;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  /* Estilo del mensaje de error */
  form .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: none; /* Oculto por defecto */
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  
  input {
    width: 94%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease;
    margin-bottom: 1rem;
  }
  
  input:focus {
    border-color: #6e8efb;
    outline: none;
    box-shadow: 0 0 5px rgba(110, 142, 251, 0.5);
  }
  
  /* Botón */
  button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background: #6e8efb;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #576cd6;
  }
  
  /* Contenedor del menú */
  .menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
  
  /* Botón de hamburguesa */
  .hamburger {
    background: rgba(255, 255, 255, 0.2); /* Transparente para combinar con el fondo */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hamburger:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  