<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="static/inicio.css">
</head>
<body>
  <div class="container">
    <div class="Bienvenido">
      <h1>¡Bienvenidas!</h1>
      <ul class="list">
        <li>Arias Monroy Citlali Celeste</li>
        <li>Castellanos Rojo Jauqelin</li>
        <li>Valentín Carrera Montserrat</li>
      </ul>
    </div>
  </div>
</body>
</html>
